{% extends 'base.html' %}
{% block title %}
 {{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}


            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{{ item.get_absolute_url }}" class="href">{{  item.category.title}}</a>
                </div>
                <div class="card-body">

                        {% if item.photo %}
                            <img width="235" class="float-left mr-3" src="{{ item.photo.url }}" alt="">
                        {% endif %}


                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content }}</p>
{#                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>#}



                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|timesince}}
                </div>
            </div>




{% endblock %}
